<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h1>Witaj w kursie Angular</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <input (keyup)="message = $event.target.value" type="text">
      <button (click)="hide = !hide">Toggle</button>{{hide}}

      <app-dynamic-card [open]="!hide" [text]="message"></app-dynamic-card>

      <app-static-card text="Masz wiadomość!" type="message"></app-static-card>
      <app-static-card text="Treść wiadomość"></app-static-card>
      <app-static-card text="Błąd" type="error"></app-static-card>

      
      

    </div>
  </div>
</div>